body{
    background-color: rgb(227, 177, 116);
    width: 750px;
    height: 650px;
    margin: auto;
    padding-top: 30PX;
}
#wrap{
    background-color: rgb(226, 215, 177);
    border: dotted 7px;
}
h1{
    text-align: center;
    border-bottom: dotted 7px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}
p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.copyright{
    text-align: center;
}
ul{
    list-style: none;
    text-align: center;
    font-size: 25px;
}
li{
    margin-bottom: 4px;
}