.CM{
    color:white;
    font-size: 35px;
    background-color: black;
}
.MC{
    color:rgb(16, 16, 16);
    font-size: 35px;
    background-color: yellow;
}
.CM, .MC{
    font-family: 'Times New Roman', Times, serif;
}