body {
    background: #eee;
    font-family: sans-serif;
}

.card {
    width: 400px;
    height:180px;
    background: #fff;
    margin: 16px auto;
    padding: 5px;
}

.title {
    box-sizing: border-box;
    background: #e3f4ff;
    margin: 5px ;
    padding: 5px;
    font-size: 15 px;
    
}

.content {
    background: #e3f4ff;
    padding: 10px;
    margin: 5px;
}

.button-container {
    background: #e3f4ff;
    text-align: center;
    padding:5px;
}

button {
    display:block;
    background: white;
    border: 1px solid #eee;
    margin :0 auto;
    padding :8px 24px;
    
}