/* @font-face {   
    font-family: 'segafont';
    src: url('SEGA.ttf') format('ttf');
} */
nav{
    display: flex;
    flex-direction: flex-start;
 

    
    
}
#nav{
    font-family: 'SEGA LOGO FONT', sans-serif;
    font-size: 20px;
}
#search{

    margin-left: 40px;
}
input{ 
    font-size: 20px;
}
button{
    font-size:  20px;
}
